
{% extends "layoutFront.twig" %}

{% block title %}{% if results.title != null and display.success.2 == null %}Modification du commentaire : {{results.title}} {% else %} Création d'un commentaire {% endif %}{% endblock %}

{% import 'macro.twig' as form %}

{% block content %}

	<div class="articles">
		<div class="container">
			<div class="col-md-12 row">
				<div class=" col-md-2 align-self-start">
					<button class="btn btn-primary backButton"> Retour</button>
				</div>

				<div class="col-md-9">
					<h1 class="text-center m-lg-5">{% if results.comment != null and display.success.2 != null %}Modification du commentaire.<br/> Titre de l'article associé : {{results.title}} {% else %} Création d'un commentaire {% endif %}</h1> 
				</div>
				<div class="col-md-12 row">
				
					<div class="col-md-12 text-center"> 
						
						
						{%if display.success.1 %}
			                <div class="alert alert-success"> {{display.success.1}}
			            	</div>
			            {%endif%}
			            {%if display.success.2 %}
			                <div class="alert alert-danger"> {{display.success.2}}
			                	<ul class="text-left">
			                		{% for key, value in results %}
			                			{% if key == "errors" %}
			                				<li>{{value}}</li>
			                			{% endif %}
			                		{% endfor %}
			                	</ul>
			            	</div>
			            {%endif%}
						<div class="row col-md-12">
							<div class="h2 text-center card-title col-md-12">	
								{{ results.oneArticle.title |title}}
							</div>
							<div class="card-body text-justify">
								{{ results.oneArticle.description }}

							</div>
						</div>
						<div class="card-body text-justify">
							{{ results.oneArticle.content |striptags('<br><p>')|raw }}
						</div>

						<div class="mt-5">
							<form method="post" >
								<div class="d-flex justify-content-center my-5"> 
									{{ form.input ('author', 'Votre pseudo')}}
								</div>
								<div >
										{{ form.textarea ('comment', 'Votre commentaire', { class:'tinyMCE'})}}
								</div>
								


									
									<div class="row">
										<div class="col-md-4 text-right">
											<button class="btn btn-primary backButton" type ="button">Retour</button>  
										</div>
										<div class="col-md-4 text-center">
											<button class="btn btn-primary" type="submit" name="articleId" value={{results.oneArticle.id}}>Valider</button>
										</div>
										<div class="col-md-4 text-left">
											<button class="btn btn-primary" type="reset">Réinitialiser</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
{% endblock %}