
{% extends "layoutFront.twig" %}

{% block title %}Création d'un commentaire{% endblock %}

{% import 'macro.twig' as form %}

{% block content %}

		
	<div class="articles">
			{% include 'success.twig' %}		
		<div class="col-md-12 row  pb-5">
			

						
		{# sidebar : display all articles #}
			<div class="d-flex flex-column col-md-2 mt-0">
				<nav class="navbar navbar-expand-md ">
					 <button class=" navbar-toggler navbar-toggler-right btn btn-primary btn-sm mb-5" type="button" data-toggle="collapse" data-target="#articleDropdown" aria-controls="articleDropdown" aria-expanded="false" aria-label="Toggle navigation">
			            Tous les articles       
			            <i class="fas fa-bars"></i>
			        </button>
					<div class="collapse navbar-collapse" id="articleDropdown" >
					 	<ul class="navbar-nav d-flex flex-column">	
			             
							{% for key, value in options %}
								{% if key matches '/[0-9]/'%}  
									<li class="nav-item">
										<div class="nav-link js-scroll-trigger">
											<a class=" " href="/articles/{{value.id}}" id="{{value.id}}">
												<h5 class="">{{value.title |title }}</h5>
											</a>
												
											<p class="mb-1">{{value.description|title|striptags('<br><p>')|raw }}</p>
										</div>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</nav>
			</div>




			<div class="d-flex flex-column col-md-10">
				<div class="  text-center pb-3 ">
		{# articles #}				
					<div class="card-block text-center px-5">		
						<div class ="h2 card-text pb-5">{{results.article.description}}
						</div>
						<div class="card-text text-justify pb-2">{{results.article.content | striptags('<br><p>')|raw}}
						</div> 
						<div class="text-right text-muted"> {{results.article.author | title}}, publié le {{results.article.date_publication}}
						</div>
					</div>

	{# comments #}
					<div class="card-block text-center pt-5 ">	
						{% for key, comments in results.comments %} 
							{% if comments.publicated == 1 %}
								<div class="card mb-3 px-3 py-2">
									<p class="text-left">{{comments.author | title }} a écrit : </p> 
									<div class="card-text text-justify pb-y">{{comments.comment | striptags('<br><p>')|raw}}
									<p class="text-right">{{comments.date_comment}}</p> 
										{% if comments.admin_answer != "" %}
										<div class="card mb-3 mx-3 px-3 my-3 pt-3"> Réponse de {{ results.article.author }} :  
											{{comments.admin_answer | striptags('<br><p>')|raw}}
										</div>
										{% endif %}
									</div> 
								</div>
							{% endif %}
						{% endfor %} 
					</div>
				</div>
		

{# add comment #}	
		
				<div class="d-flex justify-content-end mt-4 text-center">
					<div class="col-md-4">
						<h4 class="title">Ajouter un commentaire : </h4>
					</div>

					<div class="col-md-8">
						<form method="post" action='/articles/{{results.article.id}}/comments' >{{csrf_input()}} 
							<div class="d-flex justify-content-center mt-3 mb-2"> 
								{{ form.input ('author', 'Votre pseudo')}}
							</div>
							<div >
								{{ form.textarea ('comment', 'Votre commentaire', { class:'tinyMCE'})}}
							</div>
							<div class="row d-flex justify-content-center">
								<div class="col-md-4 ">
									<button class="btn btn-primary" type="submit" name="articleId" value={{results.article.id}}>Valider le commentaire</button>
								</div>
								
							</div>
						</form>
					</div>
				</div>
			
		</div>
	</div>

	</div>


				
	
{% endblock %}

