{% extends "layoutBack.twig" %}

{% block title %}Commentaires {% endblock %}

{% import 'macro.twig' as form %}

{% block content %}
{% set csrf = csrf_input() %} 
	<div class="articles">
		<div class="">
			<div class="col-md-12 row no-gutters">
				<div class=" col-md-2 align-self-start">
					<button class="btn btn-primary backButton"> Retour</button>
				</div>
				<div class="col-md-9">
					<h1 class="text-center m-lg-5">Tableau de bord des commentaires </h1> 
				</div>
				<div class="col-md-12 ">
				
					<div class="col-md-12 text-center">		
						

						{% include 'success.twig' %} 


			            <div class="col-md-12 d-flex justify-content-end pl-5">
			            	<button type="button" class="btn btn-primary" id="visibilityComments" data-toggle="button" aria-pressed="false" autocomplete="off">
							 Afficher les commentaires publiés.
							</button>
			            </div>

<div>				
{% if results.comments == null %}
		<div class="col-md-12 text-left h5 mt-5">
			Aucun commentaire. 
		</div>
	{% endif %}
	{% for key, comment in results.comments %} 
		<div class="commentsVisibility bg-light {% if comment.publicated == 1 %} d-none {% endif %} ">
		
			<div class="row col-md-12 text-justify my-5 ">
				<div class="col-md-12 mb-5  px-4 pt-3">
					<div class="col-md-12 "> 
						<a href="/admin/articles/{{comment.article_id}}"><h4 class="text-center my-3">Article : {{comment.article_title}}</h4></a>
						<h5>Commentaire : </h5> 
						<p>{{comment.comment}}</p>
						<p>Auteur : {{comment.author}}</p>
						<p>Date de création : {{comment.date_comment}}</p>
					</div>
					<div class="col-md-12">
						<div class="d-flex align-items-center row">
							<div class="col-md-6 text-left row">
								<p class="col-md-3">Publier ? </p>
								<form method="post"  class="col-md-6"> {{ csrf|raw }}
									<div class="col-md-12">
										<label for="published">non</label>
										<input type="radio" name="published" value='0' {% if comment.publicated == 0 %}checked {% endif %}>
										<label for="published">oui</label>
										<input type="radio" id="Published" name="published" value="1" {% if comment.publicated == 1 %}checked {% endif %}>
										<input type="hidden" name="id" value="{{comment.id}}">
									</div>
									<button class="btn btn-primary btn-sm col-md-6 mt-3" type="submit" name="update" value="published">Valider</button>
								</form>
							</div>
							<div class="col-md-6 text-center mb-3 mt-4">
								<form method="post">
									{{ csrf|raw }}
									
									<input type="hidden" name="id" value="{{comment.id}}">
									<button class="btn btn-primary " type="submit"  name="delete">Supprimer le commentaire</button>
								</form>
							</div>
						</div>
					</div>
				</div> 
				<div class="col-md-12 mb-3 text-center"> 
					<form method="post" >{{ csrf|raw }}
						<h5 class="mb-3">Répondre au commentaire :</h5> 
						{{ form.textarea ('adminAnswer', 'Répondre au commentaire', {value:comment.admin_answer, class:'tinyMCE', rows:8})}}
							<input type="hidden" name="published" value="{{comment.publicated}}">
							<input type="hidden" name="id" value="{{comment.id}}">
							<button class="btn btn-primary btn-md" type="submit" name="update" value="answer">Valider</button>
						
					</form>
				</div>
			</div>
		</div>
	{% endfor %}
</div>

						<!-- <div class=""> 
						{% for comment in results.comments %} 
							<div class="commentsVisibility {% if comment.publicated == 1 %} d-none {% endif %} ">
								<form method="post"> {{csrf_input()}}
									<div class="row col-md-12 text-justify my-5">
										<div class="col-md-7 mb-4 card px-4 pt-3">
											<div class='text-center'>
												<a href="/admin/articles/{{comment.article_id}}"><h5>Article : {{comment.article_title}}</h5></a>
											</div>
											<h5>Commentaire : </h5>
											<p>Auteur : {{comment.author}}</p>
											<p>Commentaire : {{comment.comment}}</p>
											<p>Date de publication : {{comment.date_comment}}</p>
												
												<div class="text-center row">
													<div class="col-md-6 text-left">
														<p >Publier ? </p>
													
														<label for="published">non</label>
														<input type="radio" name="published" value='0' {% if comment.publicated == 0 %}checked {% endif %}>
														<label for="published">oui</label>
														<input type="radio" id="Published" name="published" value="1" {% if comment.publicated == 1 %}checked {% endif %}>
													</div>
													<div class="col-md-6 text-left mb-3 mt-4">
														<label class="mx-3"> Cliquer pour supprimer le commentaire</label>
														<input class="text-center" type="checkbox"  name="delete" value={{comment.id}}></input>
													</div>
												</div>
											
										</div>
										<div class="col-md-5"> 
											<h5 class="mb-3">Répondre au commentaire :</h5> 
											{{ form.textarea ('adminAnswer', 'Répondre au commentaire', {value:comment.admin_answer, class:'tinyMCE'})}}
										</div>
										<div class="col-md-12 text-center">
											<button class="btn btn-primary btn-lg" type="submit" name="id" value={{comment.id}}>Valider</button>
										</div>
									</div>
								</form>
							</div>
							
						{% endfor %}
						</div> -->
						
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}