
{% macro input (name, placeholder, options=[] ) %}
	{{csrf_input()}} 
	<div class="{{options.col | default('col-md-6')}}">
	    <div class="form-group">
	    	<input type="{{options.type | default('text')}}" value="{{options.value | default('')}}" class="form-control"  id="{{name}}" name="{{name}}"  placeholder="{{placeholder}}"  required="required" data-validation-required-message="Merci d'entrer {{placeholder}}">
	    	
	    	<p class="help-block text-danger"> </p>
		</div>
	</div>
{% endmacro %}



{% macro textarea (name, placeholder, options=[] ) %}  
	
		<div class="form-group">
				<textarea type="text"  class="form-control {{options.class}}"  id="{{name}}" name="{{name}}" placeholder="{{placeholder}}" rows="{{options.rows | default("2")}}" cols="{{options.cols | default("100")}}" data-validation-required-message="Merci d'écrire {{placeholder}}">{{options.value}}</textarea>
		</div>
{% endmacro %}


{% macro skillBar (name, value, options=[]) %}
	
	<div class="{{options.class | default ('col-sm-12')}}">
		<div class="lead"> {{name}}
		</div>
		<div class ="progress">
			<div class ="progress-bar wow fadeInLeft" data-progress="90%" style ="width:{{value}}; visibility: visible;  animation-name: fadeInLeft" >
			</div>
		</div>
	</div>
{% endmacro%}


