{% extends "layoutBack.twig" %}

{% block title %}Inscription{% endblock %}

{% block content %}

{% import 'macro.twig' as form %}


<section class="page-section" id="inscription">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mt-5 mb-4">
				<h1 class="section-heading text-uppercase">Inscription</h1>
			</div>
		</div>
		<div class=" row justify-content-md-center">
			<div class="col-md-10 ">
				<div class="row">
					<div class="row">
						<form method="post">
							{%if (results.errors is not null) %}
								<div class="alert alert-danger"> 
									<p class="text-center">Echec de l'inscription : </p>
									{% for value in results.errors %}
										<li>
											<ul>
												{{value}}
											</ul>
										</li>
									{% endfor%} 
								</div>
							{%endif%}
							<div class="row ">
								{{ form.input ('name', 'Votre prénom',  {autofocus:'autofocus', value:results.saveInputUser.name} )}}
								{{ form.input ('lastname', 'Votre nom', {value:results.saveInputUser.lastname})}}
								{{ form.input ('email', 'Votre adresse email', {type:'email', value:results.saveInputUser.email})}}
								{{ form.input ('login', 'Votre login', {value:results.saveInputUser.login})}}
								{{ form.input ('password', 'Votre mot de passe', {type:'password'} )}}
								{{ form.input ('passwordConfirm', 'Veuillez confirmer votre mot de passe', {type:'password'} )}}
								<div class="visibility form-group">
									<label>Cliquez ici</label>
									<input type="checkbox" name="envoi" id="envoi" class="form-control" value="vrai">
								</div>
								<div class="clearfix"></div>
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button class="btn btn-primary btn-xl text-uppercase" type="submit">Envoyer</button>
									
								</div>
							</div>
						</form>
				 	</div>
				</div>
     		</div>
    	</div>
    </div>
</section>

{% endblock %}