{% extends "layoutback.twig" %}

{% block title %}Espace personnel{% endblock %}

{% block content %}

{% import 'macro.twig' as form %}

<main>

	<section class="bg-light page-section text-center">
	    <div class=" col-md-2 align-self-start d-none d-md-block">
			<button class="btn btn-primary backButton"> Retour</button>
		</div>

	    <div class="container col-lg-12 m-lg-3">
			<h1 class="text-center">Espace personnel {% if session.user.is_admin == 1 %} administrateur {% else %} éditeur {% endif %}</h1> 
		</div>
	 	<div class="">	
	 		<div class=" col-md-12 my-5">
				<div class="col-md-12 text-center">
					{% include 'success.twig' %} 
				</div>
				
				<div class="col-md-4">
					<h2 class="text-center"> Bonjour {{session.user.name|title}} </h2>
				</div>
				<div class="col-md-12  my-5 py-3 bg-white"> 
					<div class="col-md-12 text-center my-5">
						<h4>Changement de votre email</h4>
					</div>
					<div class="col-md-12 row">
						<div class="col-md-4">
							<p class="text-center"> Votre adresse email actuelle :</p>
							<p class="text-center">{{session.user.email}}</p>
						</div>
						<div class="col-md-5">
							<p class="text-center">Votre nouvelle adresse email :
							</p>
							<form method="post" > {{ csrf_input() }}
								 {{form.input ('email', 'votre email', {col:'col-md-12', type:'email', value:session.inputs.email})}}

								<div class="d-flex justify-content-center py-4">
									<button class="btn btn-primary text-center" type="submit" >Modifier</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-md-12  my-5">
					<div class="col-md-12 text-center my-5">
						<h4>Changement de votre mot de passe</h4>
					</div>

					<form method="post" action="">{{ csrf_input() }}
						<div class="col-md-12">
							<div class="row align-items-start">
								<div class="col-md-6 flex-column text-center ">
									<p>Votre ancien mot de passe
									</p>
									{{form.input ('oldPassword', 'votre mot de passe', {col:'col-md-10', type:'password'})}}
								</div>
								<div class="col-md-6 d-flex flex-column text-center ">
							 		<p>Votre nouveau mot de passe
							 		</p>
						 			{{form.input ('password', 'votre mot de passe', {col:'col-md-10', type:'password'})}}
							 		<p>Confirmez votre mot de passe
							 		</p>
							 		{{form.input ('passwordConfirm', 'confirmation du nouveau mot de passe', {col:'col-md-10', type:'password'})}}
								</div>
							</div>
							<div class="d-flex justify-content-around ">
								<button class="btn btn-primary mt-4" type="submit" >Modifier</button>
							</div>
						</div>
					</form>
				</div> 
			
				{% if session.user.is_admin == 0 %}
					<div class="col-md-12 my-5 py-5 bg-light">
						<div class="text-center">
							<h4>Suppression de votre compte </h4>
							<p class="font-weight-light">(Cette action est irréversible)</p>
						</div>
						<div class="col-md-10 d-flex justify-content-end pt-3">
							<form class="" method="post">{{ csrf_input() }}
								<button class="btn btn-primary confirmClose" type="submit" name="activate" value="0">Supprimer</button>
							</form>
						</div>
					</div>
				{% endif %}
			</div>
	  	</div>
	</section>

</main>

{% endblock %}