{% extends "layoutback.twig" %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}

{% import 'macro.twig' as form %}

<main>
{# alert success or not if update or creation are donne #}
	<section class="bg-light page-section text-center" role="alert">
		{% include 'success.twig' %} 

	 	<div class="d-flex align-content-end flex-wrap ">	
	 		<div class="col-md-12 ">
	    		
					<h1 class="text-center">Tableau de bord</h1> 
			
			</div>


				{# display the 5 last articles with comments and status.  #}
			<div class="col-md-12 mt-5 row">
				<div class="col-md-12 bg-white">
					<div>voir tous les articles
					</div>
					<div>voir tous les commentaires non validés
					</div>
					<div>créer un article
					</div>
					<div>accéder à l'espace personnel
					</div>
				</div>
				<div class="h2 col-md-12">Les derniers articles
				</div>

					{% for key, value in results.articles %}
						{% if key matches '/[0-3]/'%}  
							<div class="col-md-6 ">
							
								<div class="mt-4 px-5 ml-3 text-justify bg-white">
									<div class=" px-3 my-3 pt-4 d-inline-flex">
										<div class="h3">{{ value.title}} : 
										</div>
										<div class="h3 font-weight-light pl-2">{{ value.description |raw}}
										</div>
									</div>
									<div class=" mb-4">
										<p class="card-text">{{ value.content |striptags('<br><p>')|raw | slice(0,100)}}...</p>
									</div>
									<div>{{dump(value)}}
									</div>
									<div> 
										<h5>Statut de l'article : </h5>
											<ul>
												<li>
													{% if value.publicated == null %}L'article n'est pas publié {% else %}L'article est publié 
													{% endif %}
												</li>
												
												{% set commentPublished = 0 %}
												{% set commentNonPublished = 0 %}
													{% for key2, value2 in results.comments %}
														{% if value2.publicated == 1 and value.id == value2.article_id %}
															 {% set commentPublished = (commentPublished+1) %} 
														{% endif %}
														{% if value2.publicated == 0 and value.id == value2.article_id %}
															 {% set commentNonPublished = (commentNonPublished+1) %} 
														{% endif %}
														
													{% endfor %}
												<li> {{commentPublished}} {% if commentPublished < 2 %} commentaire publié. {% else %} commentaires publiés {% endif %}</li> 
												<li> {{commentNonPublished}} {% if commentNonPublished < 2 %} commentaire {% else %} commentaires {% endif %} en attente de modération</li> 
											</ul>
									</div>
									<div class="card-block text-center mb-4">
										<div class="d-flex justify-content-center ">
											<form method="POST" class="pl-3">{{csrf_input()}} 
												<button class="btn btn-primary text-align" type="submit" name="Update" value={{value.id}}>Modifier l'article</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endfor %}
			</div>
		</div>
		
{# end block article #}
















	{# sidebar : display all articles in bdd#}
				<nav class="nav flex-column col-md-3 pl-5 order-3">
					<div class="col-12 "> 
						<a href="/connexion/create"> <button class="btn btn-primary"  > Créer un nouvel article </button></a>
						<div class=" text-center mt-4 "> 
							<div class="container">
								<h4 class="mb-4">Tous les articles</h4>
								<div class="row justify-content-around mt-2 mb-2">
									{% for key, value in options %}
										<div class="list-group">
											<a class="list-group-item {{(value.page)}}" href="/connexion/dashboard/page{{key}}">{{key}} </a>
										</div>
									{% endfor %}
								</div>
							</div>
							<div>
								{% for key, value in results %}
									{% if key matches '/[0-9]/'%}  
										<div class="card mt-4">
											<div class="card-block text-center">
												<div >
													<a class="no-gutters showArticle {% if key == 0 %} active {% endif %} "  id={{value.id}} href="#article{{value.id}}">
														<h5 class="card-title mt-2 ">{{value.title |title }}</h5>
													</a>
													<div class="card-body py-1 px-1">
														<p class="mb-1">{{value.description |title }}</p>
													</div>
												</div>
												<div class="row card-body justify-content-between py-1">
													<div class="px-2">
														<form method="POST" >{{csrf_input()}} 
															<button class="btn btn-info btn-sm text-align" type="submit" name="Update" value={{value.id}}>Modifier</button>
														</form>
													</div>
													<div class="px-2">
														<form method="POST" class="text-right">{{csrf_input()}} 
															<button class="btn btn-info btn-sm confirmClose" type="submit" name="Delete" value={{value.id}}>Supprimer</button>
														</form>
													</div>
												</div>
											</div>
										</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</nav>
					

	

{# block commentaires #}
				<div class="col-md-10 no-gutters order-4">
					<div class="col-md-11 ">
						{% for key, value in results %}
 
						{% if value.comment != empty %}
							{% if key == 0 %}
								<div class="showComment" id="commentArticle{{value.id}}"> 
							{% endif %}
							{% if key != 0 %}
								<div class="showComment d-none" id="commentArticle{{value.id}}"> 
							{% endif %}
					{% for key2, value2 in value.comment %}
							<div class="col-md-11 mt-4 ml-5" id="comment{{value2.id}}">
									<div class="card px-5 my-3 text-center">
										<div class="card-title  my-3">
											<h2 class="text-center ">{{value2.login}}</h2>
										</div>
									</div>				
									<div class="card px-5">
										<div class="card-block text-center my-5">
											<h3 class="card-text">{{ value2.comment |raw}}</h3>
										</div>
									</div>
									<div class="card-block text-center mb-4">
											<div class="d-flex justify-content-between ">
												<form method="POST" class="pl-3">{{csrf_input()}} 
													<button class="btn btn-primary text-align" type="submit" name="Update" value="comment#{{value.id}}">Modifier le commentaire</button>
												</form>
												<form method="POST" class="text-right pr-3">{{csrf_input()}} 
													<button class="btn btn-primary " type="submit" name="Delete" value="comment#{{value.id}}">Supprimer le commentaire</button>
												</form>
												<form>
													
													<div class="col-md-12">
														<label for="published">non</label>
														<input type="radio" name="published" value="non" checked>
														<label for="published">oui</label>
														<input type="radio" id="Published" name="published" value="oui" >
													</div>
													<button class="btn btn-primary" type="submit">Publier</button>
												</form>
											</div>
										</div>
							</div>
					


				{% endfor %}
						
				{% endif %}


						
			
				{% endfor %} 
						
			</div>
			




			</div>
		</div>
	  	</div>
	</section>

</main>

{% endblock %}







