


{% for key, article in results.articles %}
	{% if key <= max and key >= min %}  
		<div class="col-md-6 ">
			<div class="mt-4 px-5 ml-3 text-justify bg-white">
				<div class=" px-3 my-3 pt-4 d-inline-flex">
					<div class="h3">{{ article.title | title }} : 
					</div>
					<div class="h3 font-weight-light pl-2">{{ article.description|raw}}
					</div>
				</div>
				<div class=" mb-4">
					<p class="card-text">{{article.content|striptags()|raw|slice(0,100)}}...
					</p>
				</div>
				<div class="text-right mb-5 pr-5">Article écrit par {{article.author_name | title}}
				</div>
				<h5>Statut de l'article : </h5>
				<div class="row">
					<div class="col-md-6"> 
						<ul class=" no-gutters text-left">
							<li>
								{% if article.publicated == null %}L'article n'est pas publié {% else %}L'article est publié 
								{% endif %}
							</li>
							<li>
								Article crée le {{article.date_creation}}
							</li>
							
							{% set commentPublished = 0 %}
							{% set commentNonPublished = 0 %}
								{% for key2, value2 in results.comments %}
									{% if value2.publicated == 1 and article.id == value2.article_id %}
										 {% set commentPublished = (commentPublished+1) %} 
									{% endif %}
									{% if value2.publicated == 0 and article.id == value2.article_id %}
										 {% set commentNonPublished = (commentNonPublished+1) %} 
									{% endif %}
									
								{% endfor %}
							<li> 
								{{commentPublished}} {% if commentPublished < 2 %} commentaire publié. {% else %} commentaires publiés {% endif %}
							</li> 
							<li> 
								{{commentNonPublished}} {% if commentNonPublished < 2 %} commentaire {% else %} commentaires {% endif %} en attente de modération
							</li> 

						</ul>
					</div>
					<div class="col-md-6 pl-5 text-center">
						<form method="post">  {{csrf_input()}} 
							<div class="text-center align-self-end text-right">
								Publier ? 
								<label for="published">oui</label>
								<input type="radio" id="Published" name="published" value="1" {% if article.publicated == 1 %} checked {% endif %}>
								<label for="published">non</label>
								<input type="radio" name="published" value='0' {% if article.publicated == 0  %} checked {% endif %}>
								
								<div class="col-md-8 expandable mb-0 ">
									<div class=" d-flex flex-column mb-3 ">
										<div><label for="publishedDate">Date de la publication : </label></div>
										<div>
											<input type="date" id="PublishedDate" name="publishedDate" value= {% if article.date_publication != null %} {{article.date_publication}} {% else %}"2019-08-22"  {% endif %} min="2019-07-31">
										</div>
									</div>
								</div>
								<input type="hidden" name="id" value="{{article.id}}">
								<div class="text-center">
									<button class="btn btn-info btn-sm" value="article.id" type="submit">Valider
									</button>
								</div>
							</div>
						</form>

					</div>
				</div>
				<div class="card-block text-center my-4">
					<div class="d-flex justify-content-center ">
						<a class="pl-3 pb-4" href="/admin/articles/{{article.id}}">
							<button class="btn btn-primary text-align" type="submit" name="Update" >Modifier l'article</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}