{% extends "layoutback.twig" %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}

{% import 'macro.twig' as form %}

<main>

<section class="bg-light page-section">
    {%if var.success == 1 %}
        <div class="alert alert-success"> L'article a bien été modifié !!
    	</div>
    {%endif%}
    {%if var.success == 2 %}
        <div class="alert alert-danger"> Echec de la modification !!
    	</div>
    {%endif%}

    <div class="container col-lg-12 m-lg-3">
		<h1 class="text-center">Votre tableau de bord</h1> 
	</div>
 	<div class=" ">	
 		<div class="row col-md-12">
			<div class="col-md-3 text-center"> 
				<h4>Tous les articles</h4>
					
					{% set articleMin, articleMax = -1, 10 %}
				{% set test = ((var|length)/10) %}
				{% if  ((((var|length)/10)-(test|number_format)) > 0 ) %}
					{% set test = test + 1 %}
				{% endif %}
				{% set test = test|number_format %}
				{% for i in 1..test %}
					<a> page {{i}}</a>
					{% set i = (i+1) %}
				{% endfor %}
			{{dump(va.success)}}

				{% for key, value in var %}


				{% if key > articleMin and key < articleMax and key matches '/[0-9]/'%}  
					<div class="card ">
							<div class="card-block text-center">
								<h4 class="card-title "><a href="/articles/{{article.id}}" >{{value.title |title }}</a></h4>
								<a class="btn btn-secondary text-align" href="/articles/{{value.id}}">lire l'article</a>
							
								<div class="row card-body justify-content-between">
									<div class="pl-3 pr-3">
									<form method="POST" >
										<button class="btn btn-secondary text-align" type="submit" name="Update" value={{value.id}}>Modifier</button>
									</form>
									</div>
									<div class="pl-3 pr-3">
									<form method="POST" class="text-right">
										<button class="btn btn-secondary " type="submit" name="Delete" value={{value.id}}>Supprimer</button>
									</form>
									</div>
								</div>
							</div>
					
					</div>
					{% endif %}
				{% endfor %}
				<div>
					{% if test == 10 %}
						<button class="btn btn-link " type="button" name="add" id="test">autres articles</button>
						<div>hello</div>
					{% endif %}
					
					je veux : 
					cliquer sur le bouton. 
					le bouton a une valeur (ex : 10-20)
					la valeur est transmise à la page
					

				</div>
			</div>
			<div class="col-md-8"> 
				<h2 class="text-center mt-4">Les 4 derniers articles</h2>
				<div class="col-md-12 m-lg-5">
				
					{% for key, value in var if key <4 and key matches '/^[0-9]{1}$/' %}
						
						<div class="col-xs-12 mt-4 ml-5">
							<div class="card">
								<div class="card-block text-center">
									<h4 class="card-title">{{ value.title}}</h4>
									<p class="card-text">{{ value.content | striptags|slice(0, 200)}}...'</p>
									<a href='#'>Voir l'article</a>
									<div class="d-flex justify-content-between ">
										<form method="POST" class="pl-3">
											<button class="btn btn-primary text-align" type="submit" name="Update" value={{value.id}}>Modifier l'article</button>
										</form>
										<form method="POST" class="text-right pr-3">
											<button class="btn btn-primary " type="submit" name="Delete" value={{value.id}}>Supprimer l'article</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}	
				</div>
			</div>
		</div>
  	</div>
</section>

</main>

{% endblock %}