
{% extends "layoutBack.twig" %}


{% import 'macro.twig' as form %}


{% block title %}Modification de l'article : {{results.article.title}} {% endblock %}

{% block content %}

	<div class="articles">
		
		
		<div class="col-md-12 row"> 

			<div class="  col-md-10 order-2">				
				<div class="col-md-12 row">
					<div class="col-md-10 mb-5">
						<h1 class="text-center m-lg-5 ">Modification de l'article : {{results.article.title}} </h1> 
					</div>

					
						<div class="col-md-2 d-flex align-items-center text-left mb-4">
							<form method="POST" class="text-right pr-3" action="/admin/articles/{{results.article.id}}/delete"> {{csrf_input()}} 
								<button class="btn btn-primary btn-sm confirmClose" type="submit" name="id" value={{results.article.id}}>Supprimer l'article</button>
							</form>
						</div>
					
					<div class="col-md-12 row">
						<div class="col-md-12 text-center">
							
							<div class="text-center"> 
{% include "success.twig" %}


<!-- article -->	
						{% if results.article.title != null and display.success.2 == null %}
								<form method="post">{{csrf_input()}} 
									<div class="row">
										<div class="col-md-5 text-right">	
											{{ form.input ('title', 'Titre de l\'article', {value:results.article.title, col:"col-md-10"})}}
										</div>
										<div class="col-md-6 text-left">
											{{ form.textarea ('description', 'Résumé de l\'article', {value:results.article.description} )}}
										</div>
									</div>
									<div >
											{{ form.textarea ('content', 'Contenu de l\'article', {value:results.article.content, rows:"30", class:'tinyMCE'})}}
									</div>
									<div class="col-md-12 d-flex justify-content-around row">
										<div class="col-md-12 d-flex flex-column">
											<p class="">Publier ?
											</p>
											<div  >
												<label for="published">oui</label>
												<input type="radio" id="Published" name="published" value="1" {% if results.article.publicated == 1 %} checked {% endif %}>
												<label for="published">non</label>
												<input type="radio" name="published" value='0' {% if results.article.publicated == 0  %} checked {% endif %}>
						
												<div class="col-md-12 justify-content-center mb-2 expandable">
													<a class="mx-4"><label for="publishedDate">Date de la publication : </label></a>
													<input type="date" id="PublishedDate" name="publishedDate" value= {% if results.article.date_publication != null %} {{results.article.date_publication}} {% else %} "2019-08-22"  {% endif %} min="2019-07-31">
												</div>
											</div>
										</div>		
										<div class="row my-5">
											
											<div class="col-md-4 text-center">
												<button class="btn btn-primary" type="submit" name="update" value="{{results.article.id}}">Valider</button>
											</div>
											
										</div>
									</div>
								</form>
						{% else %}
								<form method="post">{{csrf_input()}} 
									<div class="row">
										<div class="col-md-5 text-right">	
											{{ form.input ('title', 'Titre de l\'article', {value:results.inputsError.title, col:"col-md-10"})}}
										</div>
										<div class="col-md-6 text-left">
											{{ form.textarea ('description', 'Résumé de l\'article', {value:results.inputsError.description} )}}
										</div>
									</div>
									<div >
											{{ form.textarea ('content', 'Contenu de l\'article', {value:results.inputsError.content, rows:"30", class:'tinyMCE'})}}
									</div>
									<div class="col-md-12 d-flex justify-content-around row">
										<div class="col-md-12 d-flex flex-column">
											<p class="">Publier ?
											</p>
											<div  >
												<label for="published">oui</label>
												<input type="radio" id="Published" name="published" value="1" {% if results.article.publicated == 1 %} checked {% endif %}>
												<label for="published">non</label>
												<input type="radio" name="published" value='0' {% if results.article.publicated == 0  %} checked {% endif %}>
						
												<div class="col-md-12 justify-content-center mb-2 expandable">
													<a class="mx-4"><label for="publishedDate">Date de la publication : </label></a>
													<input type="date" id="PublishedDate" name="publishedDate" value= {% if results.article.date_publication != null %} {{results.article.date_publication}} {% else %} "2019-08-22"  {% endif %} min="2019-07-31">
												</div>
											</div>
										</div>		
										<div class="row my-5">
											
											<div class="col-md-4 text-center">
												<button class="btn btn-primary" type="submit" name="update" value="{{results.article.id}}">Valider</button>
											</div>
											
										</div>
									</div>
								</form>

						{% endif %}

							</div>
						</div>
					


	<!-- comments -->
					 
						<div class="col-md-12 pl-5 mt-5 py-5 bg-light"> 
							<h2 class="">Les commentaires</h2>
							{% if results.comments == null %}
								<div class="col-md-12 text-left h5 mt-5">
									Aucun commentaire. 
								</div>
							{% endif %}
							{% for key, comment in results.comments %}
								<div class="commentsVisibility mt-5 py-3 ">
								
									<div class="row col-md-12 text-justify my-5 card">
										<div class="col-md-12 mb-5  px-4 pt-3">
											<div class="col-md-12">
												<p>Commentaire : {{comment.comment}}</p>
												<p>Auteur : {{comment.author}}</p>
												<p>Date de création : {{comment.date_comment}}</p>
											</div>
											<div class="col-md-12">
												<div class="d-flex align-items-center row">
													<div class="col-md-6 text-left row">
														<p class="col-md-3">Publier ? </p>
														<form method="post" action="/admin/articles/{{results.article.id}}/comments" class="col-md-6"> {{csrf_input()}}
															<label for="published">non</label>
															<input type="radio" name="published" value='0' {% if comment.publicated == 0 %}checked {% endif %}>
															<label for="published">oui</label>
															<input type="radio" id="Published" name="published" value="1" {% if comment.publicated == 1 %}checked {% endif %}>
															<input type="hidden" name="adminAnswer" value="{{comment.admin_answer}}">
															<input type="hidden" name="id" value="{{comment.id}}">
															<button class="btn btn-primary btn-sm col-md-6 mt-3" type="submit" name="update" value="published">Valider</button>
														</form>
													</div>
													<div class="col-md-6 text-center mb-3 mt-4">
														<form method="post" action="/admin/articles/{{results.article.id}}/comments/delete">{{csrf_input()}}
															
															<input type="hidden" name="id" value="{{comment.id}}">
															<button class="btn btn-primary " type="submit"  name="delete">Supprimer le commentaire</button>
														</form>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-12 mb-3 text-center"> 
											<form method="post" action="/admin/articles/{{results.article.id}}/comments">{{csrf_input()}}
												<h5 class="mb-3">Répondre au commentaire :</h5> 
												{{ form.textarea ('adminAnswer', 'Répondre au commentaire', {value:comment.admin_answer, class:'tinyMCE'})}}
													<input type="hidden" name="published" value="{{comment.publicated}}">
													<input type="hidden" name="id" value="{{comment.id}}">
													<button class="btn btn-primary btn-md" type="submit" name="update" value="answer">Valider</button>
												
											</form>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>

		{# sidebar : display all articles in bdd#}
			
<div class="d-flex flex-column col-md-2 mt-0">
				<nav class="navbar navbar-expand-md ">
					 <button class=" navbar-toggler navbar-toggler-right btn btn-primary btn-sm mb-5" type="button" data-toggle="collapse" data-target="#articleDropdown" aria-controls="articleDropdown" aria-expanded="false" aria-label="Toggle navigation">
			            Tous les articles       
			            <i class="fas fa-bars"></i>
			        </button>
					<div class="collapse navbar-collapse" id="articleDropdown" >
					 	<ul class="navbar-nav d-flex flex-column">	
			             
							{% for key, value in options %}
								{% if key matches '/[0-9]/'%}  
									<li class="nav-item">
										<div class="nav-link js-scroll-trigger">
											<a class=" " href="/admin/articles/{{value.id}}" id="{{value.id}}">
												<h5 class="">{{value.title |title }}</h5>
											</a>
												
											<p class="mb-1">{{value.description|title|striptags('<br><p>')|raw }}</p>
										</div>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</nav>
			</div>












		</div>
	</div>
		
{% endblock %}