{% extends "layoutFront.twig" %}

{% block title %}Inscription{% endblock %}

{% block content %}

{% import 'macro.twig' as form %}


<section class="page-section" id="inscription">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mt-5 mb-4">
				<h1 class="section-heading text-uppercase">Inscription</h1>
			</div>
		</div>
		<div class=" row justify-content-md-center">
			<div class="col-md-10 ">
				<div class="row">
					<div class="row">
						<form method="post">
							{%if (var.errors is not null) %}
								<div class="alert alert-danger"> 
									<p>Echec de l'inscription : </p>
									{% for value in var.errors|sort|reverse(true) %}
										<li>
											<ul>
												{{value}}
											</ul>
										</li>
									{% endfor%} 
								</div>
							{%endif%}
							<div class="row ">
								{{ form.input ('Name', 'Votre prénom',  {autofocus:'autofocus', value:var.saveInputUser.Name} )}}
								{{ form.input ('Lastname', 'Votre nom', {value:var.saveInputUser.Lastname})}}
								{{ form.input ('Mail', 'Votre adresse mail', {type:'email', value:var.saveInputUser.Mail})}}
								{{ form.input ('Login', 'Votre login', {value:var.saveInputUser.Login})}}
								{{ form.input ('Password', 'Votre mot de passe', {type:'password'} )}}
								{{ form.input ('PasswordConfirm', 'Veuillez confirmer votre mot de passe', {type:'password'} )}}
								<div class="visibility form-group">
									<label>Cliquez ici</label>
									<input type="checkbox" name="envoi" id="envoi" class="form-control" value="vrai">
								</div>
								<div class="clearfix"></div>
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button class="btn btn-primary btn-xl text-uppercase" type="submit">Envoyer</button>
									<button class="btn btn-primary btn-xl text-uppercase" type="reset">Réinitialiser</button>
								</div>
							</div>
						</form>
				 	</div>
				</div>
     		</div>
    	</div>
    </div>
</section>

{% endblock %}